# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store
